.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-image: url("../images/wall.png");
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 5px solid #ffd700;
    height: 90px;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.title {
    color: #ff0000;
    margin-bottom: 1rem;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-lives img {
    height: 60px;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.square {
    border: 1px solid #000000;
    background-color: #80ffd4;
    height: 150px;
    width: 150px;
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
}